
$card-width :550px;

.album-card{
    display: flex;
    justify-content: space-around;
    width: $card-width;
    $side-width : calc(#{$card-width} / 2);

    img{
        width: calc(#{$side-width} - 12px);
        height: calc(#{$side-width} - 12px);
    }

    @media (max-width: 800px) {
        img{
            width: calc(#{$side-width} - 100px);
            height: calc(#{$side-width} - 100px);
        }
        &{
            width: calc(#{$card-width} - 100px);
        }
      }
    .left , .right{
        width: $side-width;
    }
    .album-details{
        display: flex;
        flex-direction: column;
        .detail{
            padding-bottom: 1em;
        }
        .another-example{
          margin-top: auto;
        }
    }
  }