<div *ngIf="open"
     (click)="close()"
     class="select-dropdown-mask"></div>

<div (click)="toggle()"
     class="select-dropdown {{openDirection}}"
     [ngStyle]="{'backgroundColor': backgroundColor}"
     [class.open]="open">
  <div class="select-dropdown-selected">
    <div *ngIf="selectedLabel">{{selectedLabel}}</div>
    <div class="placeholder"
         [class.floating]="floating">{{placeholder}}</div>
    <div class="select-btn {{openDirection}}">

      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           class="arrow"
           [class.rotate]="(!open && openDirection === 'top') || (open && openDirection === 'bottom')">
        <polyline points="7,10 12,15 17,10"
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2" />
      </svg>
    </div>
  </div>

  <div #ref
       [style.overflow-y]="'auto'"
       [style.max-height.px]="maxHeight"
       [ngClass]="menuClasses"
       *ngIf="open">
    <vdo-select-item *ngFor="let item of items;trackBy : trackByFunction"
                     [item]="item">
    </vdo-select-item>
    <ng-content></ng-content>
  </div>
  
  <div [ngClass]="menuClasses"
       *ngIf="open  && noItemInTemplate">
       <div  class="select-dropdown-item no-item-message">
        <span class="select-dropdown-item-label">No Items Are avaliabe</span>
      </div>
  </div>

</div>