<div class="app-container">
  <div *ngIf="isErrorOccured">
  <span>Error Occured : Code => {{error?.error?.status}} , {{error?.error?.message}}</span>
  <span class="custom-error-message" *ngIf="error?.error?.status === 401">Please refresh your token</span>
  </div>
  <button (click)="selectRef.resetSelection()">Reset Selection</button>
  <vdo-select #selectRef
              [label]="'name'"
              [value]="'id'"
              [trackBy]="trackAlbumBy"
              [thumbnail]="getThumbnail"
              (selectedChange)="setToLocaleStorage($event)"
              [(selected)]="selected"
              placeholder="Select Bruno mars albums....">
    <vdo-select-item *ngFor="let album of albums"
                     [item]="album">
      <img class="custom-image" [src]="album.images[2].url" alt="">
         <span class="select-dropdown-item-label" >
          {{album.name}}
      </span>  
    </vdo-select-item>
  </vdo-select>

<vdo-album-card [album]="selected"></vdo-album-card>
  

</div>